<div class="container">
  <div class="header">
    <div class="header-left">
      <button mat-icon-button (click)="goBack()" class="back-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>Gestión de Clientes</h2>
    </div>
    <button mat-raised-button style="background-color: #333333; color: white;" (click)="openAddDialog()">
      <mat-icon>add</mat-icon> Nuevo Cliente
    </button>
  </div>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar clientes</mat-label>
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="searchText" placeholder="Buscar por nombre, teléfono o DNI">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address || '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dni || '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email || '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="currentAccount">
      <mat-header-cell *matHeaderCellDef> Deuda </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.currentAccount | currency:'ARS':'symbol-narrow':'1.0-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discount">
      <mat-header-cell *matHeaderCellDef> Descuento </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.discount || 0}}% </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Localidad </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCustomer(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>